@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@font-face {
  font-family: japanese;
  src: url(media/Almost\ Japanese\ Comic.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF9F6;

}

h1 {
  font-family: 'japanese', sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #650909;
  text-align: center;

  margin-top: 165px;
  margin-bottom: 50px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 25px 0px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
}


/*---------------------------- Header ----------------------------*/
header {
  width: 100%;
  height: 115px;

  position: fixed;
  top: 0;

  background-color: #FFFFFF;
  filter: drop-shadow(0px 10px 10px #e2e2e2);
  z-index: 100;
}

.logo {
  width: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  width: 75%;
  display: flex;
  justify-content: space-between;
}


.nav-links a {
  transition: 0.3s ease;
  transform: translateX(0%);
}

.nav-links a:hover {
  text-decoration: underline;
  color: deeppink;
  text-decoration-color: deeppink;
  letter-spacing: 1px;
}

#headericons a {
  margin-right: 20px;
}

/*---------------------------- Burger ----------------------------*/

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 20%;

  background: black;
  transition: all 0.5s ease;

}

.dropdown-list {
  color: black;
  position: absolute;
  z-index: 1;

}

.dropdown-list a {
  display: block;
  /* gør sådan hvert link står for sig selv */
  margin: 10px 0px;
}

#dropdownikon {
  align-self: center;
  width: 10px;
  margin-left: 2px;
  margin-bottom: 3px;
}

/*---------------------------- Måltidskasser ----------------------------*/

.border {
  border-right: black 2px solid;
}
.border:last-child{
  border: none;
}

#kasser {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;

  background-color: #FFFFFF;
  padding: 50px 0px;
  border-radius: 50px;
  filter: drop-shadow(0px 10px 10px #e2e2e2);

}

#kasser section {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  padding: 0% 2%;
}

#kasser section img {
  width: 100%;

}

.kasseknapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.enkøb {
  border: black 2px solid;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 25px;
}

.abonnement {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: black;
  color: #FFFFFF;
  margin-top: 25px;

}

/*---------------------------- OM OS LAPTOP ----------------------------*/



.logoomcontainer {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 1000px;
}

.logoom {
  max-width: 437px;
  max-height: 488px;
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.indholdom {
  margin-top: 20px;
  text-align: left;
  margin-left: 22%;
  margin-right: 22%;

}

.indholdom-box {
  background-color: white;
  padding: 5% 10%;
  border-radius: 20px;

}


ol {
  margin-top: 20px;
}

li {
  margin-bottom: 15px;
}

strong {
  margin-top: 10px;
}


/*---------------------------- Mobil ----------------------------*/

@media only screen and (max-width: 900px) {
  /*---------------------------- Nav og Burger ----------------------------*/

  .burger {
    display: block;
  }

  nav {
    justify-content: space-between;
  }

  .nav-links {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background: rgb(255, 227, 227);
    /* Husk at skifte farve */

    transform: translateX(100%);
    transition: All 0.5s ease;
  }

  .nav-links a {

    opacity: 0;
  }

  #headericons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #headericons a {
    margin-top: 40px;
  }


  .nav-active {
    transform: translateX(0);
  }

  /*---------------------------- Måltidskasser----------------------------*/

  .border {
    border-right: none;
    border-bottom: black 2px solid;
  }.border:last-child{
    border-bottom: black 2px solid;
  }

  #kasser {
    display: block;
    justify-content: space-around;

    background: none;
    padding: 0px;
    border-radius: 0px;
    filter: drop-shadow(0px 10px 10px #e2e2e2);

  }

  #kasser section {
    width: 90%;
    margin: auto;
    height: 100%;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    padding: 5%;
    background-color: #FFFFFF;
    border-radius: 50px;
    filter: drop-shadow(0px 10px 10px #e2e2e2);

  }

  #kasser section img {
    border-radius: 40px;

  }

  .kasseknapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;
  }

  /*---------------------------- OM OS ----------------------------*/


  .logoomcontainer {
    margin-top: 5%;
    margin-bottom: 20px;
  }

  .indholdom {
    margin-left: 5%;
    margin-right: 5%;
  }

  .indholdom-box {
    padding: 5% 5%;
  }




}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}