@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  text-align: center;
}

/*---------------------------- Header ----------------------------*/
  header{
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    
    }

  .logo{
    width: 100px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
  } 

  .nav-links {
    width: 75%;
    display: flex;
    justify-content: space-between;
  } 


  .nav-links a{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;

    transition:0.5s ease;
    transform: translateX(0%);
  }

  .nav-links a:hover{
    text-decoration: underline;
    color: deeppink;
    text-decoration-color: deeppink;
    letter-spacing: 1px;
  }

  #headericons a{
    margin-right: 20px;
  }

  /*---------------------------- Burger ----------------------------*/

  .burger{
    display: none;
  }

  .burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20%;

    background: black;
    transition:all 0.5s ease;
    
  }

  .dropdown-list{
    color: black;
    position: absolute;
    z-index: 1;

  }
.dropdown-list a{
  display: block;  /* gør sådan hvert link står for sig selv */
  margin: 10px 0px;
}

  #dropdownikon{
    align-self: center;
    width: 10px;
    margin-left: 2px;
    margin-bottom: 3px;
  }

/*---------------------------- Måltidskasser ----------------------------*/

.vline{
  background-color: black;
  width: 2px;
  height: 500px;
}
#kasser{
  display: flex;
  justify-content: space-around;
}
#kasser section{
}

#kasser section img{
  width: 50%; 
}


  /*---------------------------- Mobil ----------------------------*/

  @media only screen and (max-width: 900px){
  /*---------------------------- Nav og Burger ----------------------------*/

    .burger{
      display: block;
    }
    nav{
      justify-content: space-between;
    }

    .nav-links{
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      background: rgb(255, 227, 227); /* Husk at skifte farve */

      transform: translateX(100%);
      transition:All 0.3s ease-in;
    }

    .nav-links a{
      opacity: 0;
    }
    #headericons{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #headericons a{
      margin-top: 40px;
    }


    .nav-active{
    transform: translateX(0);
  }

  }
  
  
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px );
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px );
  }
